.nav {
    /* background-color: transparent; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: .2s ease-in-out;
    height: 11vh !important;
    align-items: center;
}
.navMobile {
    position: fixed;
    top: 12.5vh;
    left: 0;
}
@media (max-width:768px) {
    .nav {
        height: 8vh !important;
    }
}